@model IEnumerable<SGE.Models.Usuario>

@{
	ViewData["Title"] = "Index";
}

<div>
	<div class="d-flex row justify-content-between my-5">
		<div style="width: 15%;">
			<img src="/img/imgIndexUsuario.png" style="max-width:200px;" />
		</div>
		<div style="width: 85%;" class="ps-5">
			<div class="d-flex row align-items-center justify-content-between">
				<h1 style="width:25%; font-size:3.2rem; color:#F6D524;">Usuários</h1>
				<div style="height:5px; width:75%; background:#F6D524;" />
			</div>
			<p style="font-size:1.5rem; color:#FFFF;">Visualize quem tem acesso à ferramenta SGE</p>
		</div>
	</div>

	<div class="d-flex row justify-content-between" style="width:100%;">
		<div style="width:40%;">
			<div class="d-flex justify-content-between">
				<h2 style="font-size:2rem; color:#FFFF; padding:1em">Tipos de Usuários</h2>
				<button class="btn">
					<svg bootstrap-icon="PlusSquare" width="40" height="40" aria-label="Pesquisar" style="color:white"></svg>
				</button>
			</div>
			<table class="tabela1 table-borderless">
				<thead>
					<tr>
						<th style="padding:0.7em;">
							@Html.DisplayNameFor(model => model.TipoUsuario.Tipo)
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody class="table-bordered">
					@foreach (var item in Model)
					{
						<tr>
							<td style="padding:0.7em;">
								@Html.DisplayFor(modelItem => item.TipoUsuario.Tipo)
							</td>
							<td>
								<a class="text-dark" asp-action="Edit" asp-controller="TiposUsuario" asp-route-id="@item.TipoUsuarioId"><svg bootstrap-icon="PencilSquare" width="19" height="19" aria-label=""></svg></a>
								<a class="text-dark" asp-action="Details" asp-controller="TiposUsuario" asp-route-id="@item.TipoUsuarioId"><svg bootstrap-icon="Info" width="19" height="19" aria-label=""></svg></a>
								<a class="text-dark" asp-action="Delete" asp-controller="TiposUsuario" asp-route-id="@item.TipoUsuarioId"><svg bootstrap-icon="Trash" width="19" height="19" aria-label=""></svg></a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div style="width:55%;">
			<div class="d-flex justify-content-between">
				<h2 style="font-size:2rem; color:#FFFF; padding:1em">Usuários Cadastrados</h2>
				<button class="btn">
					<a asp-action="Create">

						<svg bootstrap-icon="PlusSquare" width="40" height="40" aria-label="Pesquisar" style="color:#FFFF"></svg>
					</a>
				</button>
			</div>
			<div>
				<div>
					<input style="width:40em; height: 2.5em; background:none; border: 1px solid white; border-radius:15px; padding:0px 10px; color:white;" type="search" placeholder="Pesquisar usuário" />
				</div>
				<div>
					<table class="tabela2Cabeca table-borderless">
						<thead>
							<tr style="padding:0.7em;">
								<th style="padding:0.7em;">
									@Html.DisplayNameFor(model => model.UsuarioNome)
								</th>
								<th style="padding:0.7em;">
									@Html.DisplayNameFor(model => model.Email)
								</th>
								@* 			<th style="padding:0.5em">
								@Html.DisplayNameFor(model => model.Senha)
								</th> *@
								<th style="padding:0.7em;">
									@Html.DisplayNameFor(model => model.Celular)
								</th>
								@* 			<th style="padding:0.5em">
								@Html.DisplayNameFor(model => model.CadAtivo)
								</th> *@
								<th style="padding:0.7em;">
									@Html.DisplayNameFor(model => model.DataCadastro)
								</th>
								@* 			<th style="padding:0.5em">
								@Html.DisplayNameFor(model => model.CadInativo)
								</th> *@
								<th style="padding:0.7em;">
									@Html.DisplayNameFor(model => model.TipoUsuario)
								</th>
							</tr>
						</thead>
						<tbody class="tabela2 table-bordered">
							@foreach (var item in Model)
							{
								<tr style="padding:0.7em;">
									<td style="padding:0.7em;">
										@Html.DisplayFor(modelItem => item.UsuarioNome)
									</td>
									<td style="padding:0.7em;">
										@Html.DisplayFor(modelItem => item.Email)
									</td>
									@* 				<td>
								@Html.DisplayFor(modelItem => item.Senha)
								</td> *@
									<td style="padding:0.7em;">
										@Html.DisplayFor(modelItem => item.Celular)
									</td>
									@* 				<td>
								@Html.DisplayFor(modelItem => item.CadAtivo)
								</td> *@
									<td style="padding:0.7em;">
										@Html.DisplayFor(modelItem => item.DataCadastro)
									</td>
									@* 				<td>
								@Html.DisplayFor(modelItem => item.CadInativo)
								</td> *@
									<td style="padding:0.7em;">
										@Html.DisplayFor(modelItem => item.TipoUsuario.Tipo)
									</td>

									<td style="padding:0.4em;">
										<div style="padding:0.2em;">
											<a class="text-dark" asp-action="Edit" asp-route-id="@item.TipoUsuarioId"><svg bootstrap-icon="PencilSquare" width="19" height="19" aria-label=""></svg></a>

										</div>

										<div style="padding:0.2em;">
											<a class="text-dark" asp-action="Details" asp-route-id="@item.UsuarioId"><svg bootstrap-icon="Info" width="19" height="19" aria-label=""></svg></a>
										</div>

										<div style="padding:0.2em;">
											<a class="text-dark" asp-action="Delete" asp-route-id="@item.UsuarioId"><svg bootstrap-icon="Trash" width="19" height="19" aria-label=""></svg></a>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>