@model IEnumerable<SGE.Models.Turma>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="tabelaAluno">
    <thead style="background: rgba(255, 255, 255, 0.32);border-radius: 5px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TurmaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadAtivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadInativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TurmaEncerrada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TurmaNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Turno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CadAtivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CadInativo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TurmaEncerrada)
                </td>
                <td>
                    <a class="text-dark" asp-action="Edit" asp-route-id="@item.TurmaId"><svg bootstrap-icon="PencilSquare" width="19" height="19" aria-label=""></svg></a>
                    <a class="text-dark" asp-action="Details" asp-route-id="@item.TurmaId"><svg bootstrap-icon="Info" width="19" height="19" aria-label=""></svg></a>
                    <a class="text-dark" asp-action="Delete" asp-route-id="@item.TurmaId"><svg bootstrap-icon="Trash" width="19" height="19" aria-label=""></svg></a>
                </td>
            </tr>
        }
    </tbody>
</table>
